* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font Prop";
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

#workspaces button.focused, #workspaces button.active {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #bluetooth, #tray, #mode {
    padding: 0 5px;
    margin: 0 2px;
}

#network.disconnected {
    background: #f53c3c;
}

